<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="StorageConnectionString" value="UseDevelopmentStorage=true;" />
    <!--<add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=[AccountName];AccountKey=[AccountKey]" />-->
    <!--<add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=intcom;AccountKey=sqmmcaSh7slF3ib+D74cw1fDIci52i7nrjQoL6267D2QAVSVKzCcsLJ1dDl/qVzHtytPvzMcHIQ+Xdh6hIMCtw==;BlobEndpoint=https://intcom.blob.core.windows.net/;QueueEndpoint=https://intcom.queue.core.windows.net/;TableEndpoint=https://intcom.table.core.windows.net/;FileEndpoint=https://intcom.file.core.windows.net/;" />-->
    <add key="DestBlobContainer" value="demoblob" />
  </appSettings>
  
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.7.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime maxRequestLength="400000" executionTimeout="50000" />
  </system.web>
  <system.serviceModel>

    <services>
      <service behaviorConfiguration="ServiceBehavior" name="intcom.wcf.services.Services">
        <host>
          <baseAddresses>
            <add baseAddress="~/Services.svc" />
          </baseAddresses>
        </host>
        <endpoint address="soap" binding="basicHttpBinding" contract="intcom.wcf.services.IServices" bindingConfiguration="LargeSoap" />
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <bindings>
      <basicHttpBinding>
        <binding name="LargeSoap" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="true" maxReceivedMessageSize="1500000" maxBufferSize="1500000" maxBufferPoolSize="1500000">
          <readerQuotas maxDepth="32" maxArrayLength="656000" maxStringContentLength="656000" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  
  </system.serviceModel>
  
  
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
    -->
    <directoryBrowse enabled="true" />
  </system.webServer>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
