<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="StorageConnectionString" value="UseDevelopmentStorage=true;" />
    <!--<add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=[AccountName];AccountKey=[AccountKey]" />-->
    <!--<add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=intcom;AccountKey=sqmmcaSh7slF3ib+D74cw1fDIci52i7nrjQoL6267D2QAVSVKzCcsLJ1dDl/qVzHtytPvzMcHIQ+Xdh6hIMCtw==;BlobEndpoint=https://intcom.blob.core.windows.net/;QueueEndpoint=https://intcom.queue.core.windows.net/;TableEndpoint=https://intcom.table.core.windows.net/;FileEndpoint=https://intcom.file.core.windows.net/;" />-->
   
    <add key ="DestBlobContainer" value="demoblob" />
    
  </appSettings>
</configuration>